@import 'vars.scss';

* {
  transition: text-decoration-color .5s ease-in-out,
    background-color .5s ease-in-out,
    color .5s ease-in-out;
}

body {
  margin: 0;
  background-color: $background-color;
  color: $p-color;
  font-family: $body-font;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  @extend %heading;
}

h1 {
  font-size: $huge-font-size;
  max-width: 80vw;

  @media #{$mobile} {
    font-size: 15vw;
  }
}

h2 {
  font-size: $x-large-font-size;

  @media #{$mobile} {
    font-size: $mobile-x-large-font-size;
  }
}

h3 {
  font-size: $large-font-size;
  margin-bottom: $spacing;

  @media #{$mobile} {
    font-size: $mobile-large-font-size;
  }
}

p {
  margin: 0;

  @media #{$desktop} {
    max-width: 35em;
  }
}

small {
  @extend %subheading;
}

img {
  max-width: 100%;
  height: auto
}

img,
video,
iframe {
  border: mix($foreground-color, $background-color, 10%) $border-width solid;
}

.video-wrapper {
  padding: $section-padding;
  border: $border;

  @media #{$mobile} {
    padding: $section-padding/2;
  }

  video {
    margin-bottom: 0 !important;
  }
}

@media #{$mobile} {
  .desktop-only {
    display: none !important;
  }
}

.animate {
  opacity: 0;
  transform: translateY(1rem);
  transition-property: opacity, transform;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;

  &-2 {
    transition-delay: .25s;
  }

  &-3 {
    transition-delay: .5s;
  }

  &-4 {
    transition-delay: .75s;
  }

  &-5 {
    transition-delay: 1s;
  }
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

.tile {
  padding: calc($spacing * 2);
  border: $border;
}

.grid-2 {
  display: grid !important;
  gap: calc($spacing * 2);
  justify-content: flex-start;

  @media #{$desktop} {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-3 {
  display: grid !important;
  gap: calc($spacing * 2);
  justify-content: flex-start;

  @media #{$desktop} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//Sections

#about {
  &>div {
    text-align: left;
    display: grid;
    align-items: flex-start;
    gap: calc($spacing * 6);

    @media #{$desktop} {
      grid-template-columns: 1fr 2fr;
    }

    &>p {
      margin-top: -0.2em;
    }
  }
}

#big-brands {
  h2 {
    span {
      font-size: $large-font-size;
      display: block;
      margin-top: .25em;
    }
  }
}

#superrb {
  ul {
    li {
      width: 100%;

      &:not(:last-of-type) {
        border-bottom: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

#demo-stores,
#ecom-noon,
#dot-studio {
  @media #{$desktop} {
    img {
      width: 80vw;
    }
  }
}