// Vars

$white: #ffffff;
$black: #0F0F0F;

$violet: #ACC0FD;
$orange: #E0764D;
$lime: #96FB74;
$green: #64B96A;
$light: #E1E3DE;
$dark: $black;
$lighter: rgba($light, 25%);

$font-color: $dark;
$p-color: rgba($dark, 0.95);
$link-color: $orange;

$border-radius: 0.175rem;
$border-width: 1px;
$border-color: rgba($dark, 0.1);

$button-border-radius: $border-radius;
$input-border-radius: $border-radius;
$input-border-color: rgba($dark, 0.2);
$input-border-width: 2px;

$spacing: 1rem;
$section-padding: calc($spacing * 4);
$foreground-color: $black;
$background-color: $white;
$border-width: 1px;
$border: mix($foreground-color, $background-color, 25%) $border-width solid;

$mobile: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$large-desktop: "(min-width: 1280px)";

// Typography

@font-face {
  font-family: 'Regular';
  src: url('./../fonts/ResistText-Regular.woff2') format('woff2'),
    url('./../fonts/ResistText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Medium';
  src: url('./../fonts/ResistText-Medium.woff2') format('woff2'),
    url('./../fonts/ResistText-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Mono';
  src: url('./../fonts/ResistMono-Regular.woff2') format('woff2'),
    url('./../fonts/ResistMono-Regular.woff') format('woff');
}

$p-font-family: 'Regular', sans-serif; //400
$bold-font-family: 'Medium', sans-serif; //500
$heading-font-family: 'Regular', sans-serif; //400
$mono-font-family: 'Mono', sans-serif; //400

$small-font-size: .9rem;
$regular-font-size: 18px;
$bigger-font-size: 2rem;
$large-font-size: 3rem;
$x-large-font-size: 6rem;
$huge-font-size: 12vw;

$mobile-large-font-size: 1.5rem;
$mobile-x-large-font-size: 3rem;

$body-font: $p-font-family;
$heading-font: $heading-font-family;
$subheading-font: $p-font-family;

%big-p,
.big-p {
  @media #{$desktop} {
    .desktop-only {
      font-size: $bigger-font-size;
      font-family: $subheading-font;
    }
  }
}

.bigger-font-size {
  font-size: $bigger-font-size;
}

.large-font-size {
  font-size: $large-font-size;
}

%heading {
  font-family: $heading-font;
  font-weight: 500;
  line-height: .9;
  margin-top: 0;
  margin-bottom: $section-padding;
  letter-spacing: -0.05em;

  @media #{$mobile} {
    margin-bottom: calc($section-padding/2);
  }
}

%subheading,
.subheading {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $spacing;
  font-size: $small-font-size;
  font-family: $mono-font-family;
}

@mixin generate-media-query($columns, $item-width) {
  @media (min-width: calc(#{$section-padding * 2} + $item-width * #{$columns})) and (max-width: calc((#{$section-padding * 2} + $item-width * #{$columns + 1}) - 1px)) {
    &:nth-of-type(n + #{$columns + 1}) {
      border-top: 0;
      margin-top: calc($border-width * -1);
    }

    &:not(:nth-of-type(#{$columns}n)):not(:last-of-type) {
      border-right: 0;
      margin-right: calc($border-width * -1);
    }
  }
}