@import './../../styles/vars.scss';

.main-nav {
  background-color: $foreground-color;

  ul {
    display: flex;
    padding: 0 $spacing;
    margin: 0;

    @media #{$mobile} {
      justify-content: center;
    }

    @media #{$desktop} {
      justify-content: space-between;
    }

    li {
      list-style-type: none;
      padding: $spacing;

      a {
        color: $background-color;
        text-decoration-color: transparent;
        text-underline-offset: 3px;

        &:hover {
          text-decoration-color: $background-color;
        }
      }
    }

    div {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1rem;
    }
  }
}

.main-header {
  min-height: 100vh;
  display: grid;

  &__inner {
    padding: calc($section-padding * 2) $section-padding;

    @media #{$mobile} {
      padding: calc($section-padding * 2) $section-padding/2;
    }
  }

  p {
    @extend %big-p;

    &:first-of-type {
      margin-top: calc($spacing * 3.5);
    }

    &:not(:last-child) {
      margin-bottom: calc($spacing * 2);
    }
  }

  h1 {
    font-family: 'Thin';
    max-width: 10em;
    justify-self: center;
    margin-top: calc($spacing * -5);
  }
}