@import './../../styles/vars.scss';

@keyframes fadeIn {
  0% {
    color: transparent;
  }

  100% {
    color: $dark;
  }
}

.button {
  background-color: transparent;
  color: $font-color;
  text-transform: uppercase;
  min-height: 2.7rem;
  padding: .45em 1em;
  box-sizing: border-box;
  font-size: $regular-font-size;
  line-height: 1;
  border: calc($border-width * 2) solid $violet;
  border-radius: $button-border-radius;
  text-decoration: none;
  text-align: center;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  font-family: $mono-font-family;
  min-width: $spacing * 10;
  white-space: nowrap;
  transition: background-color .5s ease-in-out,
    border-color .5s ease-in-out,
    color .5s ease-in-out,
    border-radius .5s ease-in-out,
    text-decoration-color .5s ease-in-out;

  &:not(.button--disabled):hover {
    cursor: pointer;
    border-radius: calc($button-border-radius * 10);
  }

  &--hover-text {
    &:hover {
      animation: fadeIn .5s forwards;
    }
  }

  &--big {
    @media #{$desktop} {
      font-size: calc($regular-font-size * 1.25);
      padding: .6em 1.2em .6em 1.2em;
      line-height: 1.2;
    }
  }

  &--primary {
    background-color: $violet;
    color: $dark;
  }
}